annotated-types
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
future
h11
idna
iso8601
pydantic
pydantic_core
pygame
pyserial
PyYAML
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
websockets
